*{
    margin: 0;
    padding: 0;
}

header{
width:100%;
height:70px;
background:#324E7B;
display: flex; 
justify-content: center;    
    
}

.contendor-header{
width:80%;
height: 100%;
background: #F4806D;
    
}